body{
  background-image: url(../../images/482-azul-degradado.jpg);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}

.links .link{
  background-color: #6C757D;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 6px;
  font-size: 24px;

}

.card{
  height: 100%;
  background-color: #5F2DAA;

}

.search .form-group button{
  margin: 5px; 
}

.search .form-group input{
  padding: 5px;
}